Repository getsentry/spotlight, pull requests merged in 2025-07, with the labels that each got.

#851 chore(overlay): update dependencies to address security vulnerabilities
  .changeset/curly-papers-stare.md
  packages/overlay/package.json
  pnpm-lock.yaml
Labels: Package: Overlay, dependencies

#852 feat(overlay): Tailwind v4 🚀
  .changeset/giant-tools-arrive.md
  package.json
  packages/overlay/index.html
  packages/overlay/package.json
  packages/overlay/postcss.config.js
  packages/overlay/src/components/Debugger.tsx
  packages/overlay/src/components/Trigger.tsx
  packages/overlay/src/components/navigation.tsx
  packages/overlay/src/components/tabs.tsx
  packages/overlay/src/index.css
  packages/overlay/src/integrations/sentry/components/events/EventBreadcrumbs.tsx
  packages/overlay/src/integrations/sentry/components/insights/Resources.tsx
  packages/overlay/src/integrations/sentry/components/insights/aiTraces/AITraceDetails.tsx
  packages/overlay/src/integrations/sentry/components/insights/aiTraces/AITranscription.tsx
  packages/overlay/src/integrations/sentry/components/shared/HiddenItemsButton.tsx
  packages/overlay/src/integrations/sentry/components/traces/TraceDetails/components/TraceTreeview.tsx
  packages/overlay/src/integrations/sentry/components/traces/TraceItem.tsx
  packages/overlay/src/integrations/sentry/components/traces/spans/SpanDetails.tsx
  packages/overlay/src/integrations/sentry/components/traces/spans/SpanItem.tsx
  packages/overlay/src/integrations/sentry/tabs/TracesTab.tsx
  packages/overlay/src/ui/badge.tsx
  packages/overlay/src/ui/button.tsx
  packages/overlay/src/ui/dropdownMenu.tsx
  packages/overlay/src/ui/sidePanel.tsx
  packages/overlay/src/ui/tooltip.tsx
  packages/overlay/tailwind.config.ts
  packages/overlay/vite.config.ts
  packages/overlay/vite.dev.config.ts
  packages/website/astro.config.mjs
  packages/website/package.json
  packages/website/postcss.config.js
  packages/website/src/components/DocsCta.astro
  packages/website/src/components/FeatureCard.astro
  packages/website/src/components/Header.astro
  packages/website/src/components/RoadmapEntry.astro
  packages/website/src/tailwind.css
  pnpm-lock.yaml
Labels: Package: Overlay, Website

#861 fix: corrected the highlight position for nextjs setup docs
  packages/overlay/src/integrations/sentry/components/insights/Queries.tsx
  packages/overlay/src/integrations/sentry/components/insights/Resources.tsx
  packages/website/src/content/docs/setup/nextjs.mdx
Labels: Type: Documentation
